@model IEnumerable<ResisterAndLoginApp.Models.DeckModel>

<p>
    <a asp-action="InputForm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeckName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeckName)
            </td>
            <td>
                <a href="/Deck/ShowDetails/@item.Id" class="btn btn-primary">Show details</a>
                <a href="/Deck/Edit/@item.Id" class="btn btn-warning">Edit deck</a>
                <a href="/Deck/Delete/@item.Id" class="btn btn-danger">Delete deck</a>
                <a href="/Deck/SearchResults/@item.Id" class="btn btn-success">Cards in deck</a>
            </td>
        </tr>
}
    </tbody>
</table>
