@model IEnumerable<MagicTDB.Models.CardModel>

<p>
    <a asp-action="InputForm">Add a card</a>
</p>

<div class="container d-flex flex-wrap">
    @foreach(var item in Model)
    {      
        <div class="card" style="width: 18rem;">
            <img src="@item.URL" class="card-img-top" alt="@item.CardName">
        <div class="card-body">
            <a href="/Card/ShowDetails/@item.Id" class="btn btn-primary">Show card</a>
            <a href="/Card/Delete/@item.Id" class="btn btn-danger">Delete card</a>
            <a href="/Card/AddCardToDeck/@item.Id" class="btn btn-success">Add card to deck</a>
            <a href="/Card/Edit/@item.Id" class="btn btn-warning">Edit card</a>

        </div>
    </div>
    }
</div>