@model MagicTDB.Models.CardModel

<h4>Search Cards</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">
            <!--this calls on SearchResults so name must be precise-->
            <div class="form-group">
                <label class="control-label">Search for a card by name</label>

                <input name="searchTerm" class="form-control" />
            <!--searchTerm is also a precise name-->
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

